*{
    margin: 0;
    padding: 0;
    fl
}
#header{
    width: 1267px;
    height: 52px;
    /* border: 1px solid red; */
    position: relative;
    margin: 0 auto;
}
.logo{
    margin-left: 187px;
    margin-top: 15px;
    float: left;
}
.search{
    float: left;
    width: 234px;
    height: 25px;
    border: 1px solid #a6a6a6;
    font-size: 12px;
    color: #a6a6a6;
    padding-left: 5px;
    margin-left: 128px;
    margin-top: 13px;
}
.fdj{
    position: absolute;
    left: 690px;
    top: 13px;
}
.huanyingyu{
    float: left;
    font-size: 12px;
    width: 151px;
    margin-left: 60px;
    margin-top: 8px;
}
.shop-car-num::before{
    content: "购物车";
    color: #373737;
    font-weight: normal;
    margin-right: -3px;
}
.shop-car-num{
    color: #e83921;
    font-size: 12px;
    font-weight: 600;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
.shop-car-num::after{
    content: "件商品";
    font-weight: normal;
    margin-left: -3px;
    color: #3a3a3a;
}
.btn{
    width: 58px;
    height: 16px;
    background-color: #e83921;
    float: left;
    margin-top: 6px;
    margin-left: -80px;
    font-size: 12px;
    color: #ffffff;
    padding-left: 5px;
    font-weight: 800;
    letter-spacing: 7px;
}
.jiesuan{
    float: left;
    /* width: 36px; */
}
.jiesuan-ico{
    margin-top: 1px;
    float: left;
    margin-left: 1px;
}
.shangpin{
    float: left;
    margin-left: 10px;
    margin-top: -10px;
}
#nav{
    width: 1267px;
    height: 28px;
    background-color: black;
    margin: 0 auto;
    line-height: 28px;
}
.shop-ico{
    margin-left: 188px;
    margin-top: 4px;
    float: left;
}
.nan{
    margin-left: 24px;
}
#nav select{
    width: 20px;
    /* height: 5px; */
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    float: left;
    margin-top: 7px;
}
#nav span{
    float: left;
    font-size: 12px;
    color: #fff;
}
.nv{
    margin-left: 10px;
}
.adi-ico{
    margin-left: 80px;
    margin-top: 5px;
    float: left;
}
.yd{
    margin-left: 7px;
}
.sanye-ico{
    margin-top: 5px;
    float: left;
    margin-left: 34px;
}
#nav .ydjd{
    color: #008bd2;
    margin-left: 9px;
}
.neo{
    margin-top: 1px;
    margin-left: 35px;
    float: left;
}
#nav .shenghuo{
    color: #acb21e;
    margin-left: 11px;
}
#nav .new{
    margin-left: 150px;
}
#nav .zhekou{
    margin-left: 36px;
    color: #d4341e;
}
#banner{
    width: 930px;
    height: 720px;
    background-color: #f3f1f2;
    margin: 0 auto;
    padding-top: 34px;
    /* float: left; */
}
.title1{
    width: 890px;
    height: 25px;
    background-color: #d95427;
    margin: 0 auto;
    line-height: 25px;
    font-size: 12px;
    color: #ffffff;
}
.title1 .zd{
    margin-left: 5px;
    margin-top: 3px;
    float: left;
}
.title1 span{
    float: left;
}
.title1 a{
    font-style: normal;
    color: #ffffff;
}
.title2{
    width: 890px;
    height: 25px;
    background-color: #d95427;
    margin: 0 auto;
    line-height: 25px;
    font-size: 12px;
    margin-top: 5px;
    color: #ffffff;
}
.title2 .zd{
    margin-left: 5px;
    margin-top: 3px;
    float: left;
}
.title2 span{
    float: left;
}
.title2 a{
    font-style: normal;
    color: #ffffff;
}
.zhuce{
    width: 595px;
    height: 460px;
    background-color: #fff;
    /* margin: 0 auto; */
    margin-left: 20px;
    margin-top: 5px;
}
.zc-hd{
    height: 38px;
    border: 1px solid #f7f7f7;
}
.zc-hd h2{
    margin-left: 15px;
    margin-top: 7px;
    float: left;
}
.tty{
    font-size: 12px;
    font-weight: 700;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}
.fh{
    /* float: left; */
    color: #aa4b4f;
}
.zc-bn{
    height: 420px;
    /* background-color: red; */
}
.zc-bn input{
    width: 220px;
    height: 20px;
    border: 1px solid #cfcfcf;
}

.zc-bn p span{
    color: #969696;
    font-size: 12px;
}
.zc-bn p .fh{
    color: #aa4b4f;
}
.zc-bn .email{
    padding-left: 24px;
    margin-top: 34px;
}.zc-bn .yonghm{
    padding-left: 24px;
    height: 26px;
    width: 530px;
    /* float: left; */
    margin-top: 6px;s
}
.zc-bn .yonghm .jj{
    margin-top: -20px;
    /* float: left; */
    letter-spacing: -1.5px;
}
#title3{
    float: right;
    width: 260px;
    color: #969696;
    height: 24px;
    font-size: 12px;
    margin-right: 36px;
    margin-top: -28px;
    letter-spacing: -0.2px;
}
.zc-bn .phone{
    padding-left: 45px;
    margin-top: 10px;
}
.zc-bn .mima{
    margin-top: 8px;
    margin-left: 37px;
}
.zc-bn .quemm{
    margin-left: 13px;
    margin-top: 8px;
}
.zc-bn .zsxm{
    margin-top: 8px;
    margin-left: 13px;
}
.zc-bn .xb .btn1{
    width: 12px;
    height: 12px;
}
.zc-bn .xb{
    font-size: 12px;
    color: #969696;
    margin-left: 47px;
    margin-top: 10px;
}
.zc-bn .sr{
    margin-left: 47px;
    margin-top: 3px;
}
.sr select{
    height: 20px;
    border: 1px solid #cbcbcb;
}
.sr .nian{
    width: 55px;
}
.yanzm{
    margin-left: 27px;
    margin-top: 7px;
    /* padding-top: 10px; */
    height: 35px;
    /* float: left; */
    width: 500px;
}
.yanzm .kan{
    float: right;
    margin-top: 4px;
    
}
.yanzm .ma{
    float: right;
}
.yanzm .huan{
    float: right;
    margin-top: 4px;
    color: #6a83ac;
    margin-right: 40px;
}
