<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script src="vue.js"></script>
    <!-- 在 v-for 块中，我们拥有对父作用域属性的完全访问权限。
    v-for 还支持一个可选的第二个参数为当前项的索引。 -->
    <ul id="example-2">
        <li v-for="(item, index) in items">
            <!-- //<li v-for="(item, index) in items"> -->
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>
    <script>

        var example2 = new Vue({
            el: '#example-2',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })
        //你也可以用 of 替代 in 作为分隔符，因为它是最接近 JavaScript 迭代器的语法：
    </script>
</body>

</html>