*{
    margin: 0;
    padding: 0
}
#header{
    width: 1349px;
    height: 28px;
    background-color: #fafafa;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    margin: 0 auto;
}
#header .i1{
    margin-left: 187px;
    margin-top: 6px;
    float: left;
    width: 12px;
    height: 16px;
}
#header .p1{
    float: left;
    margin-top: 6px;
    margin-left: 2px;
    font-size: 13px;
}
#header .i2{
    margin-left: 3px;
    margin-top: 6px;
    float: left;
    width: 20px;
    height: 20px;
}
#header .p2{
    float: left;
    margin-top: 6px;
    margin-left: 2px;
    font-size: 13px;
    margin-right: 224px;
}
#header ul{
    width: 504px;
    height: 15px;
    font-size: 13px;
    float: left;
    margin-top: 6px;
}
#header ul li{
    width: 71px;
    height: 15px;
    float: left;
    list-style: none;
    border-right: 1px solid #dddddd;
    text-align: center;
}
#logo{
    width: 1349px;
    height: 92px;
    border-bottom: 4px solid #ff9400;
    box-sizing: border-box;
    margin: 0 auto;
}
#logo .i1{
    margin-left: 195px;
    margin-top: 23px;
    float: left;
}
#logo ul{
    float: left;
    list-style: none;
    width: 451px;
    height: 33px;
    margin-top: 55px;
    margin-left: 73px;
}
#logo ul li{
    float: left;
    text-align: center;
    margin-left: 1px;
    width: 149px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #cdcbcd;
    box-sizing: border-box;
    background-color:  #f7f7f7;
}
#logo ul li:hover{
    background-color: #ff9600;
    color: #ffffff;
}
#logo p{
    color: #ff9600;
    font-size: 12px;
    margin-left: 26px;
    margin-top: 68px;
    float: left;
}
#content{
    width: 1349px;
    height: 889px;
    margin: 0 auto;
}
#content .c1{
    width: 962px;
    height: 86px;
    margin-left: 195px;
    border-bottom: 2px solid #d9d9d9;
    box-sizing: border-box;
}
#content .c1 img{
    float: left;
    margin-top: 16px;
}
#content .c1 span{
    float: left;
    margin-left: 13px;
    font-size: 17px;
    margin-top: 15px;
}
#content .c1 p{
    clear: both;
    display: block;
    width: 385px;
    height: 27px;
    background-color: #fffff0;
    border: 1px solid #ffcc66;
    box-sizing: border-box;
    font-size: 12px;
    margin-top: 12px;
    float: left;
    line-height: 26px;
    text-align: center;
}
#content .c1 label{
    float: left;
    font-size: 12px;
    color: #50bbdb;
    margin-left: 488px;
    margin-top: 18px;
}
#content .c2{
    width: 962px;
    height: 156px;
    border-bottom:1px solid #cdcdcd;
    box-sizing: border-box;
    margin-left: 195px;
}
#content .c2 .c21{
    width: 962px;
    height: 39px;
    border-bottom: 1px solid #cdcdcd;
    box-sizing: border-box;
}
#content .c2 .c21 input{
    float: left;
    margin-top: 14px;
    margin-left: 16px;
    width: 13px;
    height: 13px;
}
#content .c2 .c21 .hh56{
    font-size: 13px;
    float: left;
    margin-top: 12px;
    margin-left: 6px;
}
#content .c2 .c21 .hh51{
    float: left;
    margin-left: 84px;
    margin-top: 12px;
}
#content .c2 .c21 .hh52{
    float: left;
    margin-left: 230px;
    margin-top: 12px;
}
#content .c2 .c21 select{
    width: 87px;
    height: 23px;
    float: left;
    color: #50bbdb; 
    margin-left: 53px;
    margin-top: 8px;
}
#content .c2 .c21 .hh53{
    float: left;
    margin-left: 58px;
    margin-top: 12px;
}
#content .c2 .c21 .hh54{
    float: left;
    margin-left:113px;
    margin-top: 12px;
}
#content .c2 .c21 .hh55{
    float: left;
    margin-left: 61px;
    margin-top: 12px;
}
#content .c2 .c22{
    width: 962px;
    height: 34px;
    border-bottom: 1px dashed #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    box-sizing: border-box;
    background-color: #f6f6f6;
}
#content .c2 .c22 input{
    float: left;
    margin-top: 12px;
    margin-left: 16px;
    width: 13px;
    height: 13px;
}
#content .c2 .c22 .hh56{
    font-size: 13px;
    float: left;
    margin-top: 10px;
    margin-left: 6px;
}
#content .c2 .c22 img{
    float: left;
    margin-left: 21px;
    margin-top: 10px;
}
#content .c2 .c22 .hh51{
    font-size: 13px;
    float: left;
    margin-top: 10px;
    margin-left: 6px;
    color: #50bbdb;
}
#content .c2 .c23{
    width: 962px;
    height: 81px;
    background-color: #fffcf1;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    box-sizing: border-box;
}
#content .c2 .c23 input{
    float: left;
    margin-top: 38px;
    margin-left: 41px;
    width: 13px;
    height: 13px;
}
#content .c2 .c23 .i1{
    float: left;
    margin-top: 11px;
    margin-left: 12px;
}
#content .c2 .c23 .p1{
    float: left;
    font-size: 13px;
    margin-left: 17px;
    margin-top: 22px;
}
#content .c2 .c23 .p2{
    float: left;
    font-size: 13px;
    margin-left: 86px;
    margin-top: 25px;
}
#content .c2 .c23 .p3{
    float: left;
    font-size: 13px;
    margin-left: 64px;
    margin-top: 25px;
}
#content .c2 .c23 .i2{
    float: left;
    margin-top: 22px;
    margin-left: 70px;
}
#content .c2 .c23 .p4{
    float: left;
    font-size: 13px;
    margin-left: 75px;
    margin-top: 25px;
    color: red;
}
#content .c2 .c23 .p5{
    float: left;
    font-size: 13px;
    margin-left: 50px;
    margin-top: 25px;
    color: #666666;
}
#content .c3{
    width: 962px;
    height: 63px;
    margin: 0 auto;
}
#content .c3 .hh51{
    float: left;
    margin-left: 618px;
    line-height: 63px;
}
#content .c3 .hh52{
    float: left;
    margin-left: 2px;
    line-height: 63px;
    color: red;
}
#content .c3 p{
    float: left;
    margin-left: 20px;
    line-height: 63px;
    font-size: 13px;
}
#content .c3 .hh53{
    float: left;
    margin-left: 16px;
    line-height: 63px;
}
#content .c3 .hh54{
    float: left;
    margin-left: 2px;
    line-height: 63px;
    color: red;
}
#content .c4{
    width: 964px;
    height: 118px;
    border: 1px solid #cdcdcd;
    margin: 0 auto;
    box-sizing: border-box;
}
#content .c4 .c22{
    width: 962px;
    height: 34px;
    border-bottom: 1px dashed #cdcdcd;
    box-sizing: border-box;
    background-color: #f6f6f6;
}
#content .c4 .c22 input{
    float: left;
    margin-top: 12px;
    margin-left: 16px;
    width: 13px;
    height: 13px;
}
#content .c4 .c22 .hh56{
    font-size: 13px;
    float: left;
    margin-top: 10px;
    margin-left: 6px;
}
#content .c4 .c22 img{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#content .c4 .c22 .hh51{
    font-size: 13px;
    float: left;
    margin-top: 10px;
    margin-left: 6px;
    color: #50bbdb;
}
#content .c4 .c23{
    width: 962px;
    height: 81px;
    background-color: #fffcf1;
    box-sizing: border-box;
}
#content .c4 .c23 input{
    float: left;
    margin-top: 38px;
    margin-left: 41px;
    width: 13px;
    height: 13px;
}
#content .c4 .c23 .i1{
    float: left;
    margin-top: 11px;
    margin-left: 12px;
}
#content .c4 .c23 .p1{
    float: left;
    font-size: 13px;
    margin-left: 17px;
    margin-top: 22px;
}
#content .c4 .c23 .p2{
    float: left;
    font-size: 13px;
    margin-left: 86px;
    margin-top: 25px;
    text-decoration: line-through;
}
#content .c4 .c23 .p7{
    float: left;
    font-size: 13px;
    margin-left: -47px;
    margin-top: 43px;
}
#content .c4 .c23 .p3{
    float: left;
    font-size: 13px;
    margin-left: 54px;
    margin-top: 25px;
}
#content .c4 .c23 .i2{
    float: left;
    margin-top: 22px;
    margin-left: 70px;
}
#content .c4 .c23 .p4{
    float: left;
    font-size: 13px;
    margin-left: 75px;
    margin-top: 25px;
    color: red;
}
#content .c4 .c23 .p5{
    float: left;
    font-size: 13px;
    margin-left: 44px;
    margin-top: 25px;
    color: #666666;
}
#content .c5{
    width: 962px;
    height: 63px;
    margin: 0 auto;
}
#content .c5 .hh51{
    float: left;
    margin-left: 735px;
    line-height: 63px;
}
#content .c5 .hh52{
    float: left;
    margin-left: 2px;
    line-height: 63px;
    color: red;
}
#content .c5 .hh53{
    float: left;
    margin-left: 16px;
    line-height: 63px;
}
#content .c5 .hh54{
    float: left;
    margin-left: 2px;
    line-height: 63px;
    color: red;
}
#content .c6{
    width: 963px;
    height: 74px;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
}
#content .c6 input{
    float: left;
    margin-top: 31px;
    margin-left: 8px;
    width: 13px;
    height: 13px;
}
#content .c6 .p1{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 29px;
    float: left;
}
#content .c6 .p2{
    font-size: 12px;
    margin-left: 15px;
    margin-top: 29px;
    float: left;
    color: #50bbdb;
}
#content .c6 .p3{
    font-size: 12px;
    margin-left: 324px;
    margin-top: 18px;
    float: left;
}
#content .c6 .p3 span{
   color: red;
}
#content .c6 .p4{
    font-size: 12px;
    margin-left: -182px;
    margin-top: 42px;
    float: left;
}
#content .c6 .p4 span{
   color: #ff7700;
}
#content .c6 h4{
    float: left;
    margin-left: -70px;
    margin-top: 39px;
    color: red;
}
#content .c6 h4 span{
    font-size: 13px;
}
#content .c6 button{
    background-color: #fd9500;
    border: 1px solid #f88600;
    width: 105px;
    height: 40px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 19px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}
#content .c7{
    width: 963px;
    height: 319px;
    border: 1px solid #cdcdcd;
    margin:  0 auto;
    margin-top: 10px;
}
#content .c7 .c71{
    width: 963px;
    height: 30px;
    border-bottom: 1px solid #cdcdcd;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
#content .c7 .c71 h5{
    margin-left: 8px;
    line-height: 30px;
}
#content .c7 .c72{
    width: 963px;
    height: 287px;
}
#content .c7 .c72 .c722{
    width: 28px;
    height: 290px;
    float: left;
}
#content .c7 .c72 .c722 img{
    float: left;
    margin-top: 118px;
    margin-left: 9px;
}
#content .c7 .c72 .c723{
    width: 155px;
    height: 290px;
    float: left;
}
#content .c7 .c72 .c723 img{
    float: left;
}
#content .c7 .c72 .c723 p{
    clear: both;
    float: left;
    font-size: 12px;
    margin-top: 30px;
}
#content .c7 .c72 .c723 h5{
    clear: both;
    float: left;
    margin-top: 19px;
    color: red;
}
#content .c7 .c72 .c723 button{
    float: left;
    margin-top: 15px;
    margin-left: 21px;
    background-color: #fff;
    color: black;
    border: 1px solid #cdcdcd;
    font-size: 12px;
    width: 80px;
    height: 20px;
}
#content .c7 .c72 .c724{
    width: 157px;
    height: 287px;
    margin-left: 88px;
    float: left;
}
#content .c7 .c72 .c724 p{
    clear: both;
    float: left;
    font-size: 12px;
}
#content .c7 .c72 .c724 h5{
    clear: both;
    float: left;
    margin-top: 28px;
    color: red;
}
#content .c7 .c72 .c724 button{
    float: left;
    margin-top: 25px;
    margin-left: 21px;
    background-color: #fff;
    color: black;
    border: 1px solid #cdcdcd;
    font-size: 12px;
    width: 80px;
    height: 20px;
}
#content .c7 .c72 .c725{
    width: 190px;
    height: 287px;
    margin-left: 83px;
    float: left;
}
#content .c7 .c72 .c725 p{
    clear: both;
    float: left;
    font-size: 12px;
}
#content .c7 .c72 .c725 h5{
    clear: both;
    float: left;
    margin-top: 10px;
    color: red;
}
#content .c7 .c72 .c725 button{
    float: left;
    margin-top: 8px;
    margin-left: 25px;
    background-color: #fff;
    color: black;
    border: 1px solid #cdcdcd;
    font-size: 12px;
    width: 80px;
    height: 20px;
}
#content .c7 .c72 .c726{
    width: 157px;
    height: 287px;
    margin-left: 70px;
    float: left;
}
#content .c7 .c72 .c726 p{
    clear: both;
    float: left;
    font-size: 12px;
}
#content .c7 .c72 .c726 h5{
    clear: both;
    float: left;
    margin-top: 28px;
    color: red;
}
#content .c7 .c72 .c726 button{
    float: left;
    margin-top: 25px;
    margin-left: 21px;
    background-color: #fff;
    color: black;
    border: 1px solid #cdcdcd;
    font-size: 12px;
    width: 80px;
    height: 20px;
}
#content .c7 .c72 .c727{
    width: 28px;
    height: 290px;
    float: left;
}
#content .c7 .c72 .c727 img{
    float: left;
    margin-top: 118px;
    margin-left: 9px;
}
#footer{
    width: 1349px;
    height: 200px;
    margin: 0 auto;
}
#footer .f1{
    width: 1349px;
    height: 131px;
    margin-top: 69px;
    float: left;
}
#footer .f1 .u1{
    margin-left: 465px;
    width: 533px;
    height: 16px;
    font-size: 12px;
}
#footer .f1 .u1 li{
    float: left;
    list-style: none;
    border-right: 1px solid #cdcdcd;
    width: 65px;
    height: 16px;
    text-align: center;
}
#footer .f1 .u1 li a{
    color: black;
    text-decoration: none;
}
#footer .f1 .u2{
    margin-left: 307px;
    width: 737px;
    height: 16px;
    font-size: 12px;
    margin-top: 12px;
}
#footer .f1 .u2 li{
    float: left;
    list-style: none;
    border-right: 1px solid #cdcdcd;
    width: 80px;
    height: 16px;
    text-align: center;
}
#footer .f1 .u2 li a{
    color: black;
    text-decoration: none;
}
#footer .f1 p{
    clear: both;
    font-size: 12px;
    color: #cdcdcd;
    margin-top: 12px;
    margin-left: 360px;
    float: left;
}
#footer .f1 img{
    clear: both;
    float: left;
    margin-left: 474px;
}