<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="请输入水果名称" v-model="msg">
        <button @click="btn">添加</button>
        <ul>
            <li v-for="(val,index) in fruits">
                {{val}}
                {{index}}
                <span style="color:red;" @click="del(index)">删除</span>
            </li>
        </ul>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                fruits:["香蕉","橙子","苹果"],
                msg:"",
            },
            methods:{
                del:function(index){
                    this.fruits.splice(index,1);
                },
                btn:function(){
                    this.fruits.push(this.msg);
                }
            }
        })
    </script>
</body>
</html>