*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 1920px;
    height: 124px;
    margin: 0 auto;
}
.header .box{
width: 1920px;
height: 45px;
background-color: #244d5f;
}
.header .box .p1{
height: 45px;
line-height: 48px;
color: #fff;    
float: left;
margin-left: 460px;
}
.header .box .ima{
float: left;
margin-left: 527px;
margin-top: 10px;
}
.header .box .p2{
width: 100px;
height: 45px;
line-height: 48px;
color: #fff;    
margin-left: 26px;
float: left;
}
.header .box .p2 a{
text-decoration: none;
color: white;
}
.header .box1{
width: 1920px;
height: 80px;
float: left;
}
.header .box1 .img1{
margin-top: 8px;
margin-left: 460px;
float: left;
}
.header .box1 ul{
line-height: 70px;
width: 765px;
height: 78px;
margin-left: 786px;

}
.header .box1 li{ 
list-style:none;
width: 78px;
text-align:center ;
float: left;
height: 77px;
}
.box1 ul li:hover{
    background-color:#50bbdb;
    border-bottom: 3px solid black;
}
.header  .box1 ul a:hover{
color: #fff; 
}
.header .box1 li a{
text-decoration: none;
color: black;  
}
.banner{
    width: 1920px;
    height: 400px;
}
.tbody{
    width: 1920px;
    height: 3150px;
    margin: 0 auto;
}
.t1{
    width: 1000px;
    height: 126px;
    margin: 0 auto;
}
.t1 input{
    width: 392px;
    height: 36px;
    border: 3px solid #50bbdb;
    float: left;
    margin-left: 264px;
    margin-top: 33px;
}
.t1 button{
    background-color: #50bbdb;
    width: 50px;
    height: 42px;
    border: 1px solid #50bbdb;
    margin-top: 33px;
}

.t1 .t2{
    width: 1000px;
    height: 45px;
    margin: 0 auto;
}
.t1 .t2 ul{
    margin-left: 274px;
    line-height: 32px;
} 
.t1 .t2 li{
    list-style: none;
}
.t1 .t2 a{
    text-decoration: none;
    font-size: 14px;
    color: #bebebe;
}
.jn{
    width: 1001px;
    height: 62px;
    margin: 0 auto; 
}
.jn .j1 h2{
    color: #666666;
    float: left;
    margin-left: 2px;
}
.jn .j1 label{
    color: #999999;
    margin-left: 32px;
    line-height: 37px;
}
.jn .j1 hr{
    color:#bebebe
}
.t5{
    width: 1020px;
    height: 2837px;
    /* border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd; */
    margin:  0 auto;
    margin-top: 13px;
    margin-left: 462px;
}
.t5 .t51{
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
}
.t5 .t51 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t51 .tu img{
    width: 325px;
    height: 225px;
    margin-left: 1px;
}
.t5 .t51 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t51 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 21px;
    margin-top: 11px;
}
.t5 .t51 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t51 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t51 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t51 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t51 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t51 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t51 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t51 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t51 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t51 .r{
    width: 325px;
    height: 79px;
}
.t5 .t51 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t51 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t51 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t52{
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t52 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t52 .tu img{
    width: 325px;
    height: 224px;
    margin-left: 1px;
}
.t5 .t52 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t52 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 11px;
}
.t5 .t52 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t52 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t52 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t52 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t52 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t52 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t52 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t52 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t52 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t52 .r{
    width: 325px;
    height: 79px;
}
.t5 .t52 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t52 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t52 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}

.t5 .t53{
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t53 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t53 .tu img{
    width: 325px;
    height: 225px;
    margin-left: 1px;
}
.t5 .t53 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t53 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 21px;
    margin-top: 12px;
}
.t5 .t53 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t53 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t53 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t53 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t53 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t53 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t53 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t53 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t53 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t53 .r{
    width: 325px;
    height: 79px;
}
.t5 .t53 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t53 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t53 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}

.t5 .t54{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    clear: both;
}
.t5 .t54 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t54 .tu img{
    width: 325px;
    height: 223px;
    margin-left: 1px;
}
.t5 .t54 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t54 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 19px;
    margin-top: 9px;
}
.t5 .t54 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t54 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t54 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t54 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t54 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t54 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t54 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t54 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t54 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t54 .r{
    width: 325px;
    height: 79px;
}
.t5 .t54 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t54 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t54 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t55{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t55 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t55 .tu img{
    width: 325px;
    height: 224px;
    margin-left: 1px;
}
.t5 .t55 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t55 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 16px;
    margin-top: 11px;
}
.t5 .t55 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t55 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t55 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t55 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t55 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t55 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t55 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t55 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t55 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t55 .r{
    width: 325px;
    height: 79px;
}
.t5 .t55 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t55 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t55 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}

.t5 .t56{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t56 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t56 .tu img{
    width: 325px;
    height: 226px;
    margin-left: 1px;
}
.t5 .t56 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t56 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 11px;
}
.t5 .t56 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t56 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t56 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t56 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t56 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t56 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t56 .nj p{
    line-height: 26px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t56 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t56 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t56 .r{
    width: 325px;
    height: 79px;
}
.t5 .t56 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t56 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t56 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t57{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    clear: both;
}
.t5 .t57 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t57 .tu img{
    width: 325px;
    height: 227px;
    margin-left: 1px;
}
.t5 .t57 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t57 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 19px;
    margin-top: 13px;
}
.t5 .t57 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t57 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t57 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t57 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t57 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t57 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t57 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t57 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t57 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t57 .r{
    width: 325px;
    height: 79px;
}
.t5 .t57 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t57 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t57 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t58{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t58 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t58 .tu img{
    width: 325px;
    height: 224px;
    margin-left: 1px;
}
.t5 .t58 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t58 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 11px;
}
.t5 .t58 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t58 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t58 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t58 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t58 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t58 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t58 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t58 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t58 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t58 .r{
    width: 325px;
    height: 79px;
}
.t5 .t58 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t58 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t58 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}

.t5 .t59{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t59 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t59 .tu img{
    width: 325px;
    height: 226px;
    margin-left: 1px;
}
.t5 .t59 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t59 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 19px;
    margin-top: 12px;
}
.t5 .t59 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t59 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t59 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t59 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t59 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t59 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t59 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t59 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t59 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t59 .r{
    width: 325px;
    height: 79px;
}
.t5 .t59 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t59 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t59 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t60{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    clear: both;
}
.t5 .t60 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t60 .tu img{
    width: 325px;
    height: 227px;
    margin-left: 1px;
}
.t5 .t60 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t60 .er p{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 11px;
}
.t5 .t60 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t60 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t60 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t60 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t60 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t60 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t60 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t60 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t60 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t60 .r{
    width: 325px;
    height: 79px;
}
.t5 .t60 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t60 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t60 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t61{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t61 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t61 .tu img{
    width: 325px;
    height: 224px;
    margin-left: 1px;
}
.t5 .t61 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t61 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 11px;
}
.t5 .t61 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t61 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t61 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t61 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t61 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t61 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t61 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t61 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t61 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t61 .r{
    width: 325px;
    height: 79px;
}
.t5 .t61 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t61 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t61 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}

.t5 .t62{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t62 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t62 .tu img{
    width: 325px;
    height: 226px;
    margin-left: 1px;
}
.t5 .t62 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t62 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 12px;
}
.t5 .t62 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t62 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t62 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t62 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t62 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t62 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t62 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t62 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t62 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t62 .r{
    width: 325px;
    height: 79px;
}
.t5 .t62 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t62 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t62 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t63{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    clear: both;
}
.t5 .t63 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t63 .tu img{
    width: 325px;
    height: 227px;
    margin-left: 1px;
}
.t5 .t63 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t63 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 14px
}
.t5 .t63 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t63 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t63 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t63 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t63 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t63 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t63 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t63 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t63 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t63 .r{
    width: 325px;
    height: 79px;
}
.t5 .t63 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t63 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t63 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t64{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t64 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t64 .tu img{
    width: 325px;
    height: 224px;
    margin-left: 1px;
}
.t5 .t64 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t64 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 16px;
    margin-top: 11px;
}
.t5 .t64 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t64 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t64 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t64 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t64 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t64 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t64 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t64 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t64 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t64 .r{
    width: 325px;
    height: 79px;
}
.t5 .t64 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t64 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t64 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}

.t5 .t65{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t65 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t65 .tu img{
    width: 325px;
    height: 226px;
    margin-left: 1px;
}
.t5 .t65 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t65 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 17px;
    margin-top: 13px;
}
.t5 .t65 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t65 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t65 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t65 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 23px;
    margin-top: 25px;
}
.t5 .t65 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t65 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t65 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t65 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t65 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t65 .r{
    width: 325px;
    height: 79px;
}
.t5 .t65 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t65 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t65 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t66{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    clear: both;
}
.t5 .t66 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t66 .tu img{
    width: 325px;
    height: 227px;
    margin-left: 1px;
}
.t5 .t66 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t66 .er p{
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 11px
}
.t5 .t66 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t66 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t66 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t66 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t66 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t66 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t66 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t66 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t66 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t66 .r{
    width: 325px;
    height: 79px;
}
.t5 .t66 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t66 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t66 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t67{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t67 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t67 .tu img{
    width: 325px;
    height: 224px;
    margin-left: 1px;
}
.t5 .t67 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t67 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 19px;
    margin-top: 11px;
}
.t5 .t67 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t67 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t67 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t67 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t67 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t67 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t67 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t67 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t67 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t67 .r{
    width: 325px;
    height: 79px;
}
.t5 .t67 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t67 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t67 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}

.t5 .t68{
    margin-top: 9px;
    width: 326px;
    height: 443px;  
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 9px;
}
.t5 .t68 .tu{
    width: 327px;
    height: 223px;
}
.t5 .t68 .tu img{
    width: 325px;
    height: 226px;
    margin-left: 1px;
}
.t5 .t68 .er{
    width: 325px;
    height: 46px;
    background-color: black;
    opacity: 1;
    margin-top: -54px;
    margin-left: 1px;
}
.t5 .t68 .er p{
    color: #fff;
    font-size: 18px;
    margin-left: 17px;
    margin-top: 13px;
}
.t5 .t68 .t1180{
    width: 325px;
    height: 51px;
    background-color: #efefef;
}
.t5 .t68 .t1180 .p1{
    color: #ff6600;
    float: left;
    font-size: 30px;
    margin-top: 6px;
    margin-left: 22px;
}
.t5 .t68 .t1180 .p2{
    color: #ff6600;
    float: left;
    font-size: 12px;
    margin-top: 25px;
}
.t5 .t68 .t1180 .p3{
    color: #cdcdcd;
    float: left;
    font-size: 12px;
    margin-left: 22px;
    margin-top: 25px;
}
.t5 .t68 .t1180 .p4{
    color: #ff6600;
    float: left;
    font-size: 14px;
    margin-left: 26px;
    margin-top: 23px;
}
.t5 .t68 .nj{
    width: 325px;
    height: 53px;
}
.t5 .t68 .nj p{
    line-height: 53px;
    margin-left: 22px;
    font-size: 15px;
}
.t5 .t68 .byy{
    width: 325px;
    height: 37px;
}
.t5 .t68 .byy p{
    color: #cdcdcd;
    font-size: 12px;
    margin-left: 22px;
}
.t5 .t68 .r{
    width: 325px;
    height: 79px;
}
.t5 .t68 .r .i1{
    margin-left: 22px;
    float: left;
}
.t5 .t68 .r p{
    float: left;
    margin-top: 10px;
    font-size: 12px;
}
.t5 .t68 .r .i2{
    margin-left: 49px;
    margin-top: 10px;
}
.t5 .t69{
    width: 1001px;
    height: 139px;
    clear: both;
}
.t5 .t69 .b3{
    width: 37px;
    height: 37px;
    background-color: #cdcdcd;
    color: #a0a0a0;
    font-size: 20px;
    border: 1px solid #fff;
    margin-left: 579px;
    margin-top: 42px;
}
.t5 .t69 .b3 a{
    text-decoration: none;
    color: black;
}
.t5 .t69 .b1{
    width: 37px;
    height: 37px;
    background-color: #cdcdcd;
    color: #a0a0a0;
    font-size: 20px;
    border: 1px solid #fff;
    margin-top: 42px;
}
.t5 .t69 .b1 a{
    text-decoration: none;
    color: black;
}
.t5 .t69 .b2{
    width: 37px;
    height: 37px;
    background-color: #cdcdcd;
    font-size: 20px;
    border: 1px solid #fff;
    margin-top: 42px;
    border: 1px solid #fff;
}
.t5 .t69 .b2 a{
    text-decoration: none;
    color: black;
}

.t5 .t69 .b2:hover{
    background-color: #50bbdb;
}
.t5 .t69 .b2 a:hover{
    color: #fff;
}


.footer{
    width: 1920px;
    height: 91px;
}
.footer .hei{
    width: 1920px;
    height: 50px;
    background-color: black;
}
.footer .hei ul{
    list-style: none;
    width: 856px;
    height: 50px;
    margin-left: 552px;

 }
 .footer .hei li{
     float: left;
     line-height: 50px;
     width: 170px;
     height: 37px;
     text-align: center;
     color: #fff;
  }
  .footer .hei a{
    color: #fff;
    text-decoration:none;
}
  .footer .hui{
      width: 1920px;
      height: 41px;
      background-color: #565d65;
  }
  .footer .hui p{
      text-align: center;
      line-height: 41px;
      color: #fff;
  }