*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 1920px;
    height: 124px;
    margin: 0 auto;
}
.header .box{
width: 1920px;
height: 45px;
background-color: #244d5f;
}
.header .box .p1{
height: 45px;
line-height: 48px;
color: #fff;    
float: left;
margin-left: 460px;
}
.header .box .ima{
float: left;
margin-left: 590px;
margin-top: 10px;
}
.header .box .p2{
width: 100px;
height: 45px;
line-height: 48px;
color: #fff;    
margin-left: 26px;
float: left;
}
.header .box .p2 a{
text-decoration: none;
color: white;
}
.header .box1{
width: 1920px;
height: 80px;
float: left;
}
.header .box1 .img1{
margin-top: 8px;
margin-left: 460px;
float: left;
}
.header .box1 ul{
line-height: 70px;
width: 765px;
height: 78px;
margin-left: 786px;

}
.header .box1 li{ 
list-style:none;
width: 85px;
text-align:center ;
float: left;
height: 77px;
}
.box1 ul li:hover{
    background-color:#50bbdb;
    border-bottom: 3px solid black;

}
.header  .box1 ul a:hover{
color: #fff; 
}
.header .box1 li a{
text-decoration: none;
color: black;  
}
.nb{
width: 1920px;
height: 76px;
}
.nb p{
line-height: 76px;
margin-left: 460px;
}
.dui{
width: 1920px;
height: 60px;
}
.dui1{
width: 1001px;
height: 55px;
margin-left: 451px;
}
.dui1 .p1{
display:block;
width: 100px;
height: 55px;
color: #50bbdb;
margin-left: 114px;
float: left;
}
.dui1 .p2{
display:block;
width: 100px;
height: 55px;
color: #50bbdb;
margin-left: 128px;
float: left;
}
.dui1 .p3{
display:block;
width: 100px;
height: 55px;
color: #999999;
margin-left: 127px;
float: left;
}
.dui1 .p4{
display:block;
width: 100px;
height: 55px;
color: #999999;
margin-left: 125px;
float: left;
}
.hbody{
    width: 1920px;
    height: 602px;
    margin: 0 auto;
}
.hbody .tj{
    width: 1001px;
    height: 74px;
    border-top: 1px dashed #e5e5e5;
    margin: 0 auto;
}
.hbody .tj img{
    float: left;
    margin-top: 22px;
    margin-left: 32px;
}
.hbody .tj p{
    margin-left: 21px;
    margin-top: 21px;
    font-size: 20px;
    float: left;
}
.hbody .tj .s1{
    color: #e94e25;
}
.hbody .tj .s2{
    font-size: 15px;
}
.hbody .tj label{
    margin-left: 196px;
    line-height: 71px;
    font-size: 20px;
    color: #e94e25;
}
.hbody .fs{
    width: 1001px;
    height: 52px;
    border-top: 1px solid #e5e5e5;
    background-color: #f7f7f7;
    margin: 0 auto;
}
.hbody .fs p{
    line-height: 52px;
    margin-left: 32px;
    font-size: 19px;
}
.hbody .zfb{
    width: 1001px;
    height: 102px;
    border-bottom: 1px dashed #e5e5e5;
    margin: 0 auto;
}
.hbody .zfb .p1{
    margin-left: 32px;
    line-height: 102px;
    font-size: 21px;
    float: left;
}
.hbody .zfb img{
    float: left;
    margin-left: 18px;
    margin-top: 26px;
}
.hbody .zfb .p2{
    line-height: 102px;
    margin-left: 18px;
    float: left;
}
.hbody .zfb input{
    width: 29px;
    height: 29px;
    margin-left: 589px;
    margin-top: 39px;
}
.hbody .wx{
    width: 1001px;
    height: 99px;
    border-bottom: 1px dashed #e5e5e5;
    margin: 0 auto;
}
.hbody .wx .p1{
    margin-left: 32px;
    line-height: 99px;
    font-size: 21px;
    float: left;
}
.hbody .wx img{
    float: left;
    margin-left: 40px;
    margin-top: 26px;
}
.hbody .wx input{
    width: 29px;
    height: 29px;
    margin-left: 667px;
    margin-top: 39px;
}
.hbody .yl{
    width: 1001px;
    height: 85px;
    border-bottom: 1px dashed #e5e5e5;
    margin: 0 auto;
}
.hbody .yl .p1{
    margin-left: 32px;
    line-height: 85px;
    font-size: 21px;
    float: left;
}
.hbody .yl img{
    float: left;
    margin-left: 48px;
    margin-top: 26px;
}
.hbody .yl input{
    width: 29px;
    height: 29px;
    margin-left: 663px;
    margin-top: 39px;
}
.hbody .qr{
    width: 1001px;
    height: 189px;
    margin: 0 auto;
}
.hbody .qr p{
    float: left;
    line-height: 189px;
    margin-left: 589px;
}
.hbody .qr span{
    color: #ea5221;
    font-size: 25px;
}
.hbody .qr button{
    width: 156px;
    height: 44px;
    background-color: #50bbdb;
    color: #fff;
    margin-top: 67px;
    margin-left: 30px;
    border: 1px solid #50bbdb;
}
.footer{
    width: 1920px;
    height: 91px;
    margin: 0 auto;
}
.footer .hei{
    width: 1920px;
    height: 50px;
    background-color: black;
}
.footer .hei ul{
    list-style: none;
    width: 856px;
    height: 50px;
    margin-left: 519px;
 }
 .footer .hei li{
     float: left;
     line-height: 37px;
     width: 170px;
     height: 37px;
     text-align: center;
     color: #fff;
  }
  .footer .hei a{
      color: #fff;
      text-decoration:none;
  }
  .footer .hui{
      width: 1920px;
      height: 41px;
      background-color: #565d65;
  }
  .footer .hui p{
      text-align: center;
      line-height: 41px;
      color: #fff;
  }