*{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 1920px;
    height: 124px;
    margin: 0 auto;
}
.header .box{
width: 1920px;
height: 45px;
background-color: #244d5f;
}
.header .box .p1{
height: 45px;
line-height: 48px;
color: #fff;    
float: left;
margin-left: 460px;
}
.header .box .ima{
float: left;
margin-left: 590px;
margin-top: 10px;
}
.header .box .p2{
width: 100px;
height: 45px;
line-height: 48px;
color: #fff;    
margin-left: 26px;
float: left;
}
.header .box .p2 a{
text-decoration: none;
color: white;
}
.header .box1{
    width: 1920px;
    height: 80px;
    float: left;
}
.header .box1 .img1{
    margin-top: 8px;
    margin-left: 460px;
    float: left;
}
.header .box1 ul{
    line-height: 70px;
    width: 765px;
    height: 78px;
    margin-left: 786px;

}
.header .box1 li{ 
    list-style:none;
    width: 85px;
    text-align:center ;
    float: left;
    height: 77px;
}
.box1 ul li:hover{
    background-color:#50bbdb;
    border-bottom: 3px solid black; 
}
.header  .box1 ul a:hover{
    color: #fff; 
}
.header .box1 li a{
    text-decoration: none;
    color: black;  
}
.banner{
    width: 1920px;
    height: 151px;
    margin: 0 auto;
}
/* 联系人信息 */
.container{
    width: 1920px;
    height: 1595px; 
}
.container .box{
    width: 1003px;
    height: 272px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    margin-top: 43px;
}
.container img{
    float: left;
    margin-top: 26px;
    margin-left: 16px;
}
.container h3{
    float: left;
    margin-top: 32px;
}
.container span{
    float: left;
    margin-top: 32px;
}
.container .box2{
    width: 1003px;
    height: 210px;
    margin-top: 63px;
}
.container .box2 .boxx{
    width: 1003px;
    height: 76px;
}
.container .box2 .boxx h4{
    margin-left: 323px;
    margin-top: 23px;
    float: left;
}
.container .box2 .boxx .i1{
    width: 214px;
    height: 39px;
    float: left;
    margin-left: 20px;
    margin-top: 11px;
}
.container .box2 .boxxx{
    width: 1003px;
    height: 64px;
}
.container .box2 .boxxx h4{
    margin-top: 9px;
    margin-left: 291px;
    float: left
}
.container .box2 .boxxx .i1{
    width: 214px;
    height: 39px;
    float: left;
    margin-left: 20px;
}
.container .box2 .boxxxx{
    width: 1003px;
    height: 72px;
}
.container .box2 .boxxxx h4{
    margin-left: 323px;
    margin-top: 5px;
    float: left;
}
.container .box2 .boxxxx .i1{
    width: 214px;
    height: 39px;
    float: left;
    margin-left: 20px;
}
/* 联系人信息 */
.container .boy{
    width: 1003px;
    height: 514px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    margin-top: 37px;
}


.container .boy .y1{
    width: 1003px;
    height: 80px;
}


.container .boy .chuyou{
    width: 1003px;
    height: 64px;
}
.container .boy .chuyou h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
.container .boy .chuyou ul{
    list-style: none;
    margin-left: 20px;
    width: 215px;
    float: left;
}
.container .boy .chuyou li{
    float: left;
    width: 105px;
    height: 34px;
    background-color: white;
    border: 1px solid #a3a0a0;

}
.container .boy .chuyou li a{
    text-decoration: none; 
    color: black;
    margin-left: 36px;
    line-height: 34px;
}
.container .boy .chuyou ul li:hover{background-color:#50bbdb;}
.container .boy .chuyou ul li a:hover{
    color: #fff;
}

.container .boy .chufa{
    width: 1003px;
    height: 61px;
}
.container .boy .chufa h4{
    margin-left: 309px; 
    float: left; 
    margin-top: 10px;
}
.container .boy .chufa .i1{
    float: left;
    margin-left: 20px;
    width: 214px;
    height: 39px;
}


.container .boy .mudi{
    width: 1003px;
    height: 61px;
}
.container .boy .mudi h4{
    margin-left: 309px; 
    float: left; 
    margin-top: 10px;
}
.container .boy .mudi .i1{
    float: left;
    margin-left: 20px;
    width: 214px;
    height: 39px;
}


.container .boy .riqi{
    width: 1003px;
    height: 61px;
}
.container .boy .riqi h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
.container .boy .riqi span{
    float: left;
    margin-top: 10px;
    text-align: center;
}
.container .boy .riqi .i1{
    float: left;
    margin-left: 20px;
    width: 190px;
    height: 39px;
}
.container .boy .riqi .i2{
    float: left;
    width: 190px;
    height: 39px;
}


.container .boy .tianshu{
    width: 1003px;
    height: 61px;
}
.container .boy .tianshu h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
.container .boy .tianshu .i1{
    float: left;
    margin-left: 20px;
    width: 214px;
    height: 39px;
}
.container .boy .tianshu span{
    margin-top: 12px;
    margin-left: 5px;
}
.container .boy .tianshu .i2{
    margin-top: 17px;
    margin-left: 16px;
}
.container .boy .tianshu .i3{
    margin-left: 5px;
}


.container .boy .renshu{
    width: 1003px;
    height: 61px;
}
.container .boy .renshu h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
.container .boy .renshu .i1{
    float: left;
    margin-left: 20px;
    width: 214px;
    height: 39px;
}
.container .boy .renshu span{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    
}


.container .boy .yusuan{
    width: 1003px;
    height: 61px;
}
.container .boy .yusuan h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
/* .container .boy .yusuan .i1{
    float: left;
    margin-left: 20px;
    width: 214px;
    height: 39px;
} */
.container .boy .yusuan select{
    color: #e6e6e6;
    width: 214px;
    height: 39px;
    margin-left: 20px;
    float: left;
}
.container .boy .yusuan select option{
    color: black;
}
/* 第三块 */
.container .bod{
    width: 1003px;
    height: 615px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    margin-top: 37px;
}


.container .bod .bod1{
    width: 1003px;
    height: 79px;
}


.container .bod .bod2{
    width: 1003px;
    height: 66px;
}
.container .bod .bod2 h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
.container .bod .bod2 ul{
   list-style: none;
}
.container .bod .bod2 li{
    float: left;
    line-height: 41px;
    width: 90px;
    height: 37px;
    margin-left: 21px;
    border: 1px solid #e6e6e6;
    text-align: center;
 }
 .container .bod .bod2 ul li:hover{
    background-color:#50bbdb;
    color: #fff;
 }

 .container .bod .bod3{
    width: 1003px;
    height: 66px;
}
.container .bod .bod3 h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
.container .bod .bod3 ul{
   list-style: none;
}
.container .bod .bod3 li{
    float: left;
    line-height: 41px;
    width: 90px;
    height: 37px;
    margin-left: 21px;
    border: 1px solid #e6e6e6;
    text-align: center;
 }
 .container .bod .bod3 ul li:hover{
     background-color:#50bbdb;
     color: #fff;
    }


 .container .bod .bod4{
    width: 1003px;
    height: 66px;
}
.container .bod .bod4 h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
}
.container .bod .bod4 ul{
   list-style: none;
}
.container .bod .bod4 li{
    float: left;
    line-height: 41px;
    width: 90px;
    height: 37px;
    margin-left: 21px;
    border: 1px solid #e6e6e6;
    text-align: center;
 }
 .container .bod .bod4 ul li:hover{
     background-color:#50bbdb;
     color: #fff;
    }


 .container .bod .bod5{
     width: 1003px;
     height: 202px;
 }
.container .bod .bod5 h4{
    margin-left: 293px; 
    float: left; 
    margin-top: 10px;
 }
 .container .bod .bod5 .i1{
    float: left;
    margin-left: 20px;
    width: 540px;
    height: 202px;
}


.container .bod .bod6{
    width: 1003px;
    height: 136px;
}
.container .bod .bod6 .i1{
    float: left;
    width: 213px;
    height: 43px;
    background-color: #50bbdb;
    margin-top: 47px;
    margin-left: 536px;
    color: #fff;
    font-size: 20px;
}


/* 最后 */

.footer{
    width: 1920px;
    height: 91px;
}
.footer .hei{
    width: 1920px;
    height: 50px;
    background-color: black;
}
.footer .hei ul{
    list-style: none;
    width: 856px;
    height: 50px;
    margin-left: 552px;

 }
 .footer .hei li{
     float: left;
     line-height: 50px;
     width: 170px;
     height: 37px;
     text-align: center;
     color: #fff;
  }
  .footer .hei a{
    color: #fff;
    text-decoration:none;
}
  .footer .hui{
      width: 1920px;
      height: 41px;
      background-color: #565d65;
  }
  .footer .hui p{
      text-align: center;
      line-height: 41px;
      color: #fff;
  }