*{
    margin: 0px;
    padding: 0px;
}
#header{
    width: 1920px;
    height: 130px;
    /* border: 1px solid black; */
}
#header .box{
    width:1916px;
    height: 38px;
    background-color: #efefef;
    border: 1px solid #fff;
}
#header .box .p1{
    margin-left: 436px;
    margin-top: 10px;
    float: left;
}
#header .box .p2{
    margin-left:810px;
    margin-top: 10px;
    display: block;
    float: left;
}
.box1{
    width: 1920px;
    height: 91px;
    margin: 0 auto;
    float: left;
}
.box1 span{
    color: #023076;
}
.box1 h1{
    margin-left: 436px;
    margin-top: 31px;  
    float: left;
    width: 333px;
    height: 29px;
}
.box1 ul{
    margin-left: 900px;
    margin-top: 32px;

}
.box1 li{
    float: left;
    list-style: none;
    width: 100px;
    text-align: center;
    line-height: 26px;
    height: 40px;
}
.box1 ul li:hover{
    /* border-bottom: 5px solid #50bbdb; */
}
.box1 p{
    width: 333px;
    height: 25px;
    margin-left: 537px;
    margin-top: 15px;
    display: block;
    font-family: 黑体;
    font-size: 14.5px;
}



/* 第二部分 */
#hits{
    width: 1920px;
    height: 938px;
    margin: 0 auto;
}
#hits .banner{
    width:1920px;
    height: 539px; 
}
#hits .i2{
    width: 1051px;
    height: 397px;
    margin: 0 auto;
}
#hits .i2 .d1{
    width: 416px;
    height: 397px;
    float: left;
}
#hits .i2 .d1 .d11{
    width: 220px;
    height: 220px;
    border: 1px solid #cbcbcb;
    margin-top: 34px;
    margin-left: 126px;
}
#hits .i2 .d1 .d11 img{
    margin-top: 32px;
    margin-left: 78px;
}
#hits .i2 .d1 .d11 hr{
    border: 1px dashed #cbcbcb;
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
}
#hits .i2 .d1 .d11 p{
    font-size: 13px;
    margin-left: 14px;
}

#hits .i2 .d2{
    width: 287px;
    height: 397px;
    float: left;

}
#hits .i2 .d2 .d22{
    width: 220px;
    height: 220px;
    border: 1px solid #cbcbcb;
    margin-top: 34px;
}
#hits .i2 .d2 .d22 img{
    margin-top: 32px;
    margin-left: 78px;
}
#hits .i2 .d2 .d22 hr{
    border: 1px dashed #cbcbcb;
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
}
#hits .i2 .d2 .d22 p{
    font-size: 13px;
    margin-left: 14px;
}
#hits .i2 .d3 .d33 p{
    font-size: 13px;
    margin-left: 14px;
}
#hits .i2 .d3{
    width: 348px;
    height: 397px;
    float: left;
}
#hits .i2 .d3 .d33{
    width: 220px;
    height: 220px;
    border: 1px solid #cbcbcb;
    margin-top: 34px;
}
#hits .i2 .d3 .d33 img{
    margin-top: 32px;
    margin-left: 78px;
}
#hits .i2 .d3 .d33 hr{
    border: 1px dashed #cbcbcb;
    margin-top: 23px;
    margin-left: 16px;
    margin-right: 16px;
}
#hits.i2 .d3 .d33 p{
    font-size: 13px;
    margin-left: 14px;
}




/* 第三部分 */
#about{
    width: 1920px;
    height: 487px;
    background-color: #e6e8e9;
    border: 1px solid #fff;
}
#about .bb{
    height: 100px;
    width: 1920px;
    margin-top: 30px;
}
#about .bb .yu{
    line-height:35px ;
    text-align: center;
    
}
#about .bb .r1{
    width: 75px;
    float: left;
    margin-top: 9px;
    margin-left: 834px;
    color: #c9c9c9;
}
#about .bb .aaa{
    float: left;
    color: #c9c9c9;
    
}
#about .bb .r2{
    width: 75px;
    float: left;
    margin-top: 9px;
}
#about .bbb{
    width: 903px;
    height: 69px;
    margin: 0 auto;
}
#about .bbb .ccc{
    color: #7e8080;
    font-size: 15px;
    line-height: 25px;;
}

#about .hao{
    width: 1047px;
    height: 167px;
    margin: 0 auto;
    margin-top: 80px;
}
#about .hao img{
 
    width: 1100px;
}




/* 第四部分*/
#new{
    width: 1920px;
    height: 178px;
    border: 1px solid #fff;
}
#new .yu{
    margin-top: 55px;
    text-align: center;
    
}
#new .r1{
    width: 75px;
    float: left;
    margin-top: 20px;
    margin-left: 834px;
    color: #c9c9c9;
}
#new .aaa{
    float: left;
    line-height: 39px;
    color: #c9c9c9;
}
#new .r2{
    width: 75px;
    float: left;
    margin-top: 20px;
}


/* 第五部分 */
#zixun{
    width: 1920px;
    height: 472px;
    /* border: 1px solid blue; */
    background-color: #a4d1ee;
}
#zixun .aiya{
    width: 1920px;
    height: 122px;
    /* border: 1px solid green; */
    float: left;  
}
#zixun .aiya .p2{
    margin-left: 436px;
    margin-top: 50px;
    background-color: #fff;    
    text-align: center;
    color: #a4d1ee;
    display: block;
    line-height: 32px;
    width: 104px;
    height: 32px;
    float: left;
}
#zixun .aiya .p3{
    margin-left: 28px;
    margin-top: 50px;   
    text-align: center;
    color: #fff;
    display: block;
    line-height: 32px;
    width: 104px;
    height: 32px;
    float: left;
}
#zixun .li1{
    width: 650px;
    height: 304px;
    /* border: 1px solid black; */
    clear: both;
    float: left;
    margin-left: 436px;
}
#zixun .li1 ul{
    list-style: none;
}
#zixun ul li{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
}
#zixun .li1 ul .a1{
    color: red;
    margin-right: 15px;
} 
#zixun ul span{
    margin-left: 347px;
} 
#zixun ul hr{
    
 border: 1px dashed white;
    }
#zixun .xiao{
    width: 330px;
    height: 340px;
    float: left;
    margin-left: 100px;
}


/* 第六部分 */
#lianxi{
    width: 1920px;
    height: 646px;
    /* border: 1px solid black; */
}
#lianxi .boxx{
    width: 1920px;
    height: 179px;
    border: 1px solid #fff;
    clear: both;
}
#lianxi .boxx .yu{
    margin-top: 55px;
    text-align: center;
    
}
#lianxi .boxx .r1{
    width: 75px;
    float: left;
    margin-top: 20px;
    margin-left: 834px;
    color: #c9c9c9;
}
#lianxi .boxx .aaa{
    float: left;
    line-height: 39px;
    color: #c9c9c9;
}
#lianxi .boxx .r2{
    width: 75px;
    float: left;
    margin-top: 20px;
}
#lianxi .boxxx{
    width: 1100px;
    height: 424px;
    /* border: 1px solid pink; */
    margin-left: 411px;
    float: left;
}
.boxxx .boxxx1{
    width: 428px;
    height: 424px;
    /* border: 1px solid red; */
    float: left;
}
.boxxx .boxxx11{
    width: 141px;
    height: 229px;
    float: left;
}
.boxxx .boxxx2{
    width: 270px;
    height: 229px;
    float: left;
    margin-left:10px;
    margin-top: 20px;
}
.boxxx .boxxx2 span{
    color: #000000;
    font-size: 14px;
}
.boxxx .boxxx3{
    width: 432px;
    height: 197px;
}
.boxxx .boxxx3 img{
    width: 425px;
    height: 177px;
}
.boxxx .nihao{
    height: 424px;
    width: 630px;
    float: left;
    /* border: 1px solid red; */
    margin-left: 37px;
}
.boxxx .nihao p{
    color: #7e8080;
    margin-top: 7px;
}
.boxxx .nihao .cao{
    width: 628px;
    height: 33px
}
.boxxx .nihao .cao{
    width: 626px;
    height: 31px;
    border: 1px dashed #cdcdcd;
}
.boxxx .nihao .huan{
    width: 626px;
    height: 86px;
    border: 1px dashed #cdcdcd;
}
.boxxx .nihao button{
    width: 94px;
    height: 30px;
    background-color: #3c9cd3;
    /* color:#fff; */
    margin-left: 0px;
    margin-top: 3px;
    color: #fff;
}


/* 第七部分 */
#footer{
    width: 1920px;
    height: 129px;
    /* border: 1px solid blue; */
}
#footer .ming{
    width: 1920px;
    height: 95px;
    background-color: #3c9cd3;
}
#footer .ming p{
    text-align: center;
    color: #fff;
    line-height: 44px;
}
#footer .nan{
    width: 1920px;
    height: 35px;
    background-color: #1c1b29;
}
#footer .nan .en{
    text-align: center;
    color: #fff;
    line-height: 35px;
}