*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 2980px;
}
#header{
    width: 100%;
    height: 125px;
}
#header .login{
    width: 100%;
    height: 32px;
    background-color: #efefef;
}
#header .login .p1{
    margin-left: 22%;
    line-height: 32px;
    float: left;
}
#header .login .p2{
    float: left;
    line-height: 32px;
    margin-left: 38%;
}
#header .login .p2 a{
    color: black;
    text-decoration: none;
}
#header .list{
    width: 100%;
    height: 93px;
}
#header .list img{
    margin-top: 30px;
    margin-left: 22%;
    float: left;
}
#header .list ul{
    margin-left:5%;
    width: 36%;
    height: 93px;
    float: left;
}
#header .list li{
    float: left;
    list-style: none;
    width:14%;
    height: 87px;
    text-align: center;
    line-height: 87px;
}
#header .list li:hover{
    border-bottom: 6px solid #50bbdb;
}
#menu{
    width: 100%;
    height: 937px;
}
#menu .banner{
    width: 100%;
    height: 573px;
}
#menu .banner img{
    width: 100%;
}
#menu .nav{
    width: 100%;
    height: 363px;
}
#menu .nav .n1{
    width: 10%;
    height: 199px;
    border: 1px dashed #cbcbcb;
    box-sizing: border-box;
    margin-left: 29%;
    float: left;
}
#menu .nav .n1 img{
    margin-top: 32px;
    margin-left: 29%;
}
#menu .nav .n1 hr{
    margin-left: 8%;
    margin-right: 8%;
    border: 1px dashed #cbcbcb;
    margin-top: 17px;
}
#menu .nav .n1 p{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 9px;
    margin-top: 12px;
    color: #c1c1c1;
}
#menu .nav .n2{
    width: 10%;
    height: 199px;
    border: 1px dashed #cbcbcb;
    box-sizing: border-box;
    margin-left: 6%;
    float: left;
}
#menu .nav .n2 img{
    margin-top: 32px;
    margin-left: 29%;
}
#menu .nav .n2 hr{
    margin-left: 8%;
    margin-right: 8%;
    border: 1px dashed #cbcbcb;
    margin-top: 17px;
}
#menu .nav .n2 p{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 9px;
    margin-top: 12px;
    color: #c1c1c1;
}
#menu .nav .n3{
    width: 10%;
    height: 199px;
    border: 1px dashed #cbcbcb;
    box-sizing: border-box;
    margin-left: 6%;
    float: left;
}
#menu .nav .n3 img{
    margin-top: 32px;
    margin-left: 29%;
}
#menu .nav .n3 hr{
    margin-left: 8%;
    margin-right: 8%;
    border: 1px dashed #cbcbcb;
    margin-top: 17px;
}
#menu .nav .n3 p{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 9px;
    margin-top: 12px;
    color: #c1c1c1;
}
#content{
    width: 100%;
    height: 488px;
    background-color: #e6e8e9;
}
#content .gy{
    width: 100%;
    height: 135px;
}
#content .gy h4{
    float: left;
    margin-top: 55px;
    margin-left: 51%;
}
#content .gy .d1{
    clear: both;
    width: 75px;
    border-bottom: 1px solid #b8b9ba;
    margin-left: 45%;
    margin-top: 17px;
    float: left;
}
#content .gy p{
    color: #b8b9ba;
    float: left;
    margin-top: 9px;
    font-size: 11px;
    margin-left: 0.5%;
}
#content .gy .d2{
    width: 75px;
    border-bottom: 1px solid #b8b9ba;
    margin-left: 56.5%;
    margin-top: -7px;
    float: left;
}
#content .nr{
    width: 100%;
    height: 138px;
}
#content .nr .p1{
    margin-left: 29%;
    font-size: 14px;
    color: #8f8f90;
}
#content .nr .p2{
    margin-left: 27%;
    font-size: 14px;
    color: #8f8f90;
    margin-top: 12px;
}
#content .nr .p3{
    margin-left: 27%;
    font-size: 14px;
    color: #8f8f90;
    margin-top: 12px;
}
#content .nb{
    width: 100%;
    height:  216px;
}
#content .nb img{
    margin-left: 22%;
}


#newtitle{
    width: 100%;
    height: 649;
}
#newtitle .gy{
    width: 100%;
    height: 177px;
}
#newtitle .gy h4{
    float: left;
    margin-top: 55px;
    margin-left: 51%;
}
#newtitle .gy .d1{
    clear: both;
    width: 75px;
    border-bottom: 1px solid #b8b9ba;
    margin-left: 45%;
    margin-top: 17px;
    float: left;
}
#newtitle .gy p{
    color: #b8b9ba;
    float: left;
    margin-top: 9px;
    font-size: 11px;
    margin-left: 0.5%;
}
#newtitle .gy .d2{
    width: 75px;
    border-bottom: 1px solid #b8b9ba;
    margin-left: 56.5%;
    margin-top: -7px;
    float: left;
}
#newtitle .list{
    width: 100%;
    height: 472px;
    background-color: #a4d1ee;
    float: left;
}
#newtitle .list .u1{
    float: left;
    width: 11%;
    height: 32px;
    margin-top: 60px;
    margin-left: 22%;
}
#newtitle .list .u1 .l1{
    float: left;
    list-style: none;
    width: 50%;
    height: 32px;
    font-size: 13px;
    text-align: center;
    background-color: #fff;
    color: #50bbdb;
    line-height: 32px;
}
#newtitle .list .u1 .l2{
    float: left;
    list-style: none;
    width: 50%;
    height: 32px;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    line-height: 32px;
}
#newtitle .list .u2{
    clear: both;
    width: 35%;
    height: 305px;
    list-style: none;
    margin-left: 22%;
    float: left;
}
#newtitle .list .u2 li{
    color: #ffffff;
    font-size: 13px;
    height: 53px;
    border-bottom: 1px dashed #ffffff;
    line-height: 53px;
}
#newtitle .list .u2 span{
    color: #ffffff;
    font-size: 13px;
    margin-left: 52%;
}
#newtitle .list img{
    float: left;
    margin-left: 7%;
    margin-top: 10px;
}

#contactas{
    width: 100%;
    height: 645px;
    clear: both;
}
#contactas .gy{
    width: 100%;
    height: 180px;
}
#contactas .gy h4{
    float: left;
    margin-top: 101px;
    margin-left: 51%;
}
#contactas .gy .d1{
    clear: both;
    width: 75px;
    border-bottom: 1px solid #b8b9ba;
    margin-left: 45%;
    margin-top: 17px;
    float: left;
}
#contactas .gy p{
    color: #b8b9ba;
    float: left;
    margin-top: 9px;
    font-size: 11px;
    margin-left: 0.5%;
}
#contactas .gy .d2{
    width: 75px;
    border-bottom: 1px solid #b8b9ba;
    margin-left: 56.5%;
    margin-top: -7px;
    float: left;
}
#contactas .left{
    width: 23%;
    height: 468px;
    margin-left: 21%;
}
#contactas .left .l1{
    width: 100%;
    height: 225px;
}
#contactas .left .l1 .l11{
    width: 35%;
    height: 225px;
    float: left;
}
#contactas .left .l1 .l11 img{
    float: left;
    margin-top: -5px;
    width: 100%;
}
#contactas .left .l1 .l12{
    width: 65%;
    height: 225px;
    float: left;
}
#contactas .left .l1 .l12 .i1{
    float: left;
    margin-left: 6%;
}
#contactas .left .l1 .l12 .p1{
    font-size: 10px; 
    color: #666666;
    margin-left: 1%;
    float: left;
}
#contactas .left .l1 .l12 .i2{
    clear: both;
    margin-left: 6%;
    float: left;
    margin-top: 10px;
}
#contactas .left .l1 .l12 .p2{
    font-size: 10px; 
    color: #666666;
    margin-left: 3%;
    float: left;
    font-stretch: 1px;
    margin-top: 10px;
}
#contactas .left .l1 .l12 .i3{
    margin-top: 10px;
    clear: both;
    margin-left: 6%;
    float: left;
}
#contactas .left .l1 .l12 .p3{
    font-size: 10px; 
    color: #666666;
    margin-left: 3%;
    float: left;
    font-stretch: 1px;
    margin-top: 10px;
}
#contactas .left .l1 .l12 .i4{
    margin-top: 10px;
    clear: both;
    margin-left: 6%;
    float: left;
}
#contactas .left .l1 .l12 .p4{
    font-size: 10px; 
    color: #666666;
    margin-left: 3%;
    float: left;
    font-stretch: 1px;
    margin-top: 10px;
}